.modal-backdrop-custom {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1054;
}

.modal-footer .btn-outline-secondary:hover {
    background-color: #287747;
    color: white !important;
}